<div id="cloud">
	<% tag_cloud(@tags, %w(css1 css2 css3 css4 css5 css6)) do |tag, css_class| %>
		<%= link_to tag.name, search_tag_path(:tag => tag.name), { :class => css_class } %> 
	<% end %>
</div>

<p>
	<%= form_tag search_advanced_path, :method => 'get' do |f| %>
		<%= text_field_tag :search, @search, :size => "75" %>
		<%= select_tag :search_by, options_for_select(["All", "Author"], @search_by) %>
		<%= date_select "range", "year", {:start_year => Time.now.year, :end_year => Time.now.year-50, :discard_day => true, :discard_month => true, :include_blank => true} , {:default => @year_start} %>
		<%= select_tag :exp_type, options_for_select(["n/a", "Controlled experiment", "Practical comparison"], @exp_type) %>
		<%= select_tag :env_dim, options_for_select(["n/a", "2.5D", "3D"], @env_dim) %>
		<%= select_tag :env_scale, options_for_select(["n/a", "Small scale", "Medium scale", "Large scale"], @env_scale) %>
		<%= select_tag :env_density, options_for_select(["n/a", "Low density", "Medium density", "High density"], @env_density) %>
		<%= select_tag :env_realism, options_for_select(["n/a", "Low realism", "Medium realism", "High realism"], @env_realism) %>
		<%= select_tag :part_num, options_for_select(["n/a", "1-5", "6-10", "11-20", "21-50", "50+", "None"], @part_num) %>
		<%= select_tag :part_gender, options_for_select(["n/a", "Female only", "Mostly female", "Balanced gender", "Mostly Male", "Male only"], @part_gender) %>
		<%= select_tag :specificity, options_for_select(["n/a", "Highly general", "Somewhat general", "Neither general nor specific", "Somewhat specific", "Highly specific"], @specificity) %>
		<%= submit_tag "Advanced Search", :name => nil %><br>
	<% end %>
	<%= link_to "Basic Search", search_basic_path(:search => @search, :search_by => @search_by) %><br>
</p>


<% if !@entries.nil? %>
<p>
	<h2>Search Results:</h2>
</p>

<% @entries.each do |entry| %>
<p>
	<big><b><%= link_to entry.title, entry %></b></big> - <%= entry.year %><br>
	<% entry.tag_list_on(:authors).each_with_index do |tag,i| %>
		<%= link_to tag, entries_path(:filter => tag) %><% if i < entry.tag_list_on(:authors).size - 1 %>, <% end %>
	<% end %><br>
	
	<%= entry.exp_type %><br>
	
	Tags: 
	<% entry.tag_list_on(:tasks).each do |tag| %>
		<%= link_to tag, search_tag_path(:tag => tag) %>, 
	<% end %>
	<% entry.tag_list_on(:systems).each do |tag| %>
		<%= link_to tag, search_tag_path(:tag => tag) %>, 
	<% end %>
	<% entry.tag_list_on(:comps).each_with_index do |tag,i| %>
		<%= link_to tag, search_tag_path(:tag => tag) %><% if i < entry.tag_list_on(:comps).size - 1 %>, <% end %>
	<% end %>
	<br>
	Times Viewed: <%= entry.viewed %><br>
<% end %>
</p>
<%= will_paginate @entries %>
<% end %>