<div id="cloud">
	<% tag_cloud(@tags, %w(css1 css2 css3 css4 css5 css6)) do |tag, css_class| %>
		<%= link_to tag.name, search_tag_path(:tag => tag.name), { :class => css_class } %> 
	<% end %>
</div>

<p>
	<%= form_for search_basic_path(:search => @search, :search_by => @search_by) do |f| %>
		<%= f.text_field :search, :size => 75 %>
		<%= f.select :search_by, options_for_select(["All", "Author", "Title"], @search_by) %>
		<%= f.submit "Search" %>
	<% end %>
</p>