<!DOCTYPE html>
<html>
<head>
    <title>VR Knowledgebase</title>
    <%= stylesheet_link_tag "/jqtouch/jqtouch.min.css", "/jqtouch/themes/jqt/theme.min.css" %>
    <%= javascript_include_tag "/jqtouch/jquery.1.3.2.min.js", "/jqtouch/jqtouch.min.js", "mobile" %>
    <%= yield(:head) %>
</head>
    
<body>
	<div class="current">
		<div class="toolbar">
			<h1>VR Knowledgebase</h1>
			<% if user_signed_in? %>
				<%= link_to "Log out", destroy_user_session_path, :class => "button"%>
			<% elsif admin_signed_in? %>
				<%= link_to "Log out", destroy_admin_session_path, :class => "button" %>
			<% else %>
				<%= link_to "Log in", new_user_session_path, :class => "button", :rel => "external"%> 
			<% end %>
		</div>
		<div class="info">
			<h3>Welcome to VR Knowledgebase</h3>
			<p> This is a blurb about the VR Knowledgebase </p>
			<p><% yield %></p>
		</div>
		<ul>
			<li class="arrow"><a href="#About">About</a></li>
			<li class="arrow"><a href="#Search">Search</a></li>
			<li class="arrow"><a href="#Browse">Browse Categories</a></li>
		</ul>
		<%= yield %>
	</div>
	
</body>
</html>
