
<p>
<%= link_to 'Edit Account', edit_admin_registration_path %>
</p>


<p>
<h2>Edit entry form:</h2>
<%= link_to "Edit Entry Form", admin_form_edit_path %>
</p>

<p>
<h2>Manage entries:</h2>
<table border="1" cellpadding="5">
<tr>
	<th>Title</th>
	<th>Updated</th>
	<th>Status</th>
	<th></th>
	<th></th>
	<th></th>
</tr>
<% @entries.each do |entry| %>
<tr>
	<td><%= link_to entry.title, admin_entry_path(entry) %></td>
	<td><%= entry.updated_at %></td> 
	<%= form_for entry, :url => update_status_path(:id => entry, :user_id => entry.user_id) do |f| %>
		<td><%= f.select :status, options_for_select(["Approved", "Pending", "Rejected"], entry.status) %></td>
		<td><%= f.submit "Update" %>
	<% end %><br>
	<td><%= link_to "Edit", edit_admin_entry_path(:id => entry, :user_id => entry.user_id) %></td>
	<td><%= link_to "Delete", admin_entry_path(:id => entry, :user_id => entry.user_id), :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
<% end %>
</table>

</p>

<p>
<h2>Manage users:</h2>
<table border="1" cellpadding="5">
<tr>
	<th>Email</th>
	<th>Last access</th>
	<th># of Entries</th>
	<th></th>
	<th></th>
</tr>
<% @users.each do |user| %>
<tr>
	<td><%= user.email %></td>
	<td><%= user.last_sign_in_at %></td>
	<td><%= user.entries.size() %></td>
	<td><%= link_to "User Details", edit_user_registration_path(:user => user) %></td>
	<td><%= link_to "View Entries", entries_path %></td>
	<td><%= link_to "Delete User", user_registration_path(:user => user),
			:confirm => "Are you sure?", :method => :delete %></td>
</tr>
<% end %>
</table>
</p>