<p id="notice"><%= notice %></p>

<p>
<h2>Edit entry form:</h2>
<%= link_to "Edit Entry Form", admin_edit_form_path %>
</p>

<p>
<h2>Manage entries:</h2>
<table border="1" cellpadding="5">
<tr>
	<th>Title</th>
	<th>Updated</th>
	<th>Status</th>
	<th></th>
	<th></th>
	<th></th>
</tr>
<% @entries.each do |entry| %>
<tr>
	<td><%= link_to entry.title, admin_entry_path(entry) %></td>
	<td><%= entry.updated_at %></td> 
	<%= form_for entry, :url => admin_update_status_path(:id => entry, :user_id => entry.user_id) do |f| %>
		<td><%= f.select :status, options_for_select(["Approved", "Pending", "Rejected"], entry.status) %></td>
		<td><%= f.submit "Update" %>
	<% end %><br>
	<td><%= link_to "Edit", edit_admin_entry_path(:id => entry, :user_id => entry.user_id) %></td>
	<td><%= link_to "Delete", admin_entry_path(:id => entry, :user_id => entry.user_id), :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
<% end %>
<%= will_paginate @entries, :param_name => 'entries_page' %>
</table>

</p>

<p>
<h2>Manage users:</h2>
<table border="1" cellpadding="10">
<tr>
	<th>Email</th>
	<th>Last access</th>
	<th># of Entries</th>
	<th># of Comments</th>
	<th></th>
	<th></th>
</tr>
<% @users.each do |user| %>
<tr>
	<td><%= link_to user.email, email_form_path(:recipient => user.email, :sender => current_admin.email) %></td>
	<td><%= user.last_sign_in_at %></td>
	<td><%= user.entries.size() %></td>
	<td><%= user.comments.size() %></td>
	<td><%= link_to "Entries", admin_entries_path(:user_id => user) %></td>
	<td><%= link_to "Comments", admin_comments_path(:user_id => user) %></td>
</tr>
<% end %>
<%= will_paginate @users, :param_name => 'users_page' %>
</table>
</p>

