<p id="notice"><%= notice %></p>

<p>
<%= link_to 'Edit/Delete Account', edit_user_registration_path %>
</p>


<p>
<h2>My contributions:</h2>
<% @entries.each do |entry| %>
	<%= link_to entry.title, entry_path(entry) %>
	<small><%= link_to 'Edit', edit_entry_path(entry) %> | 
	<%= link_to 'Delete', entry_path(:id => entry), :confirm => 'Are you sure?', :method => :delete %></small><br>
<% end %>
<%= will_paginate @entries, :param_name => 'entries_page' %>
</p>


<p>
<h2>Entries I have commented on:</h2>
<% @comments.each do |comment| %>
<p>
	<% entry = Entry.find(comment.entry_id) %>
	<%= link_to entry.title, entry_path(entry) %><br>
	Comment: <i><%= comment.comment %><br>
	<%= comment.created_at %></i>
	<small><%= link_to 'Delete', entry_comment_path(entry, comment), :confirm => 'Are you sure?', :method => :delete %></small><br>
</p>
<% end %>
<%= will_paginate @comments, :param_name => 'comments_page'  %>


<p>
<h2>My favorites:</h2>
<% @favorites.each do |fav| %>
	<% entry = Entry.find(fav.entry_id) %>
	<%= link_to entry.title, entry_path(entry) %>
	<small><%= link_to 'Delete', entry_favorite_path(entry,fav), :confirm => 'Are you sure?', :method => :delete %></small><br>
<% end %>
<%= will_paginate @favorites, :param_name => 'favorites_page'  %>
</p>
