<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
		Hi <%= @recipient %>,
    </p>
	<p>
		This message is to inform you that the following entry has been updated by the site administrator.<br/>
    </p>
    <p>
		Title: <%= @entry.title %><br/>
		Updated: <%= @entry.updated_at %><br/>
		Status: <%= @entry.status %><br/>
    </p>
	<p>
		For more details please log into your account:<br/>
		<%= @url %><br/>
	</p>
    <p>
		VR Knowledgebase<br/>
		http://www.vr-knowledgebase.org/
	</p>
  </body>
</html>
