<p>
	<small><%= link_to 'Admin Dashboard', admin_root_path %> << 
	User Entries</small>
</p>

<p>
	<b>Sort by: </b>
	<%= link_to 'Title', admin_entries_path(:sort_by => "title ASC", :user => @user)%> | 
	<%= link_to 'Date', admin_entries_path(:sort_by => "year DESC", :user => @user) %> | 
	<%= link_to 'Times Viewed', admin_entries_path(:sort_by => "viewed DESC", :user => @user) %>
</p>

<% @entries.each do |entry| %>
<p>
	<big><b><%= link_to entry.title, admin_entry_path(entry) %></b></big> - <%= entry.year %><br>
	Authors: <%= entry.author_list %><br>
	Entry type: <%= entry.exp_type %><br>
	Times viewed: <%= entry.viewed %><br>
	
</p>
<% end %>

<%= will_paginate @entries %>

<%= link_to 'Back to Dashboard', admin_root_path %>