<p id="notice"><%= notice %></p>
<p>
	<small><%= link_to 'Admin Dashboard', admin_root_path %> << 
	<%= link_to 'User Details', admin_entries_path(:user => @user) %> << 
	Entry Details</small>
</p>

<%= button_to 'Edit Entry', edit_admin_entry_path(:id => @entry, :user_id => @entry.user_id) %>

<p>
  <b>Paper title: </b><%= @entry.title %><br>
  <b>Authors: </b>
	<% @entry.tag_list_on(:authors).each_with_index do |tag,i| %>
		<%= link_to tag, entries_path(:filter => tag) %><% if i < @entry.tag_list_on(:authors).size - 1 %>, <% end %>
	<% end %><br>
  <b>Citation: </b><%= @entry.citation %><br> 
  <b>URL: </b><%= link_to @entry.paper_url %><br>
</p>

<p>
  <b>Task: </b><%= @entry.task_list %><br>
  <b>Task description: </b><%= @entry.task_desc %><br>
  <b>Interface description: </b><%= @entry.interface_desc %><br>
</p>

<p>
  <b>Environment: </b>
  <%= @entry.env_dim %>, <%= @entry.env_scale %>, <%= @entry.env_density %>, <%= @entry.env_realism %><br>
</p>

<p>
  <b>Participants: </b>
  <%= @entry.part_num %>, <%= @entry.part_gender %>, <%= @entry.part_age %><br>
  <b>Technical background: </b><%= @entry.part_background %><br>
  <b>Other information: </b><%= @entry.part_other %><br>
</p>

<p>	
  <b>Experiment details:</b><br>
  <% if @entry.exp_type == "Controlled experiment" %>
	<b>Experiment type: </b>A controlled experiment varying individual components of immersion independently<br>
    <b>Categories of VR displays used in the experiment: </b><%= @entry.system_list %><br>
	<b>Technical specifications of the systems used: </b><%= @entry.systems_desc %><br>
	<b>Components of immersion varied: </b><%= @entry.comp_list %><br>
	<b>Levels of variation for each component: </b><% @entry.comps_desc %><br>
	<b>Other independent variables: </b><% @entry.variables_desc %><br>
	<b>Other factors held constant: </b><% @entry.constants %><br>
  <% else %>
	<b>Experiment type: </b>A practical comparison of multiple real-world VR systems<br>
	<b>Categories of VR displays compared in the experiment: </b><%= @entry.system_list %><br>
	<b>Technical specifications of the systems used: </b><%= @entry.systems_desc %><br>
	<b>Components of immersion involved in the experiment: </b><%= @entry.comp_list %><br>
  <% end %>
</p>

<p>  
  <b>Findings: </b><%= @entry.findings %><br>
  <b>Specificity of the findings: </b><%= @entry.specificity %><br>
  <b>Issues limiting the generality or validity of these results: </b><%= @entry.issues %><br>
  <b>Additional information regarding the experiment: </b><br> 
</p>

<p>	
<h3>Comments:</h3>
  <%= render :partial => "comments/comment", :collection => @entry.comments %> 
  <%= render "comments/form" %>
</p>

<p>
	<%= link_to 'Edit Entry', edit_admin_entry_path(:id => @entry, :user_id => @entry.user_id) %> | 
	<%= link_to 'Delete Entry', admin_entry_path(:id => @entry, :user_id => @entry.user_id), :confirm => 'Are you sure?', :method => :delete %>
</p>
