<!DOCTYPE html>
<html>
<head>
    <title>VR Knowledgebase</title>
    <%= stylesheet_link_tag "/iui/iui.css" %>
    <%= javascript_include_tag "/iui/iui.js" %>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
    <%= yield(:head) %>
</head>
    
<body>
		<!-- Top Toolbar -->
		<div class="toolbar">
			<a id="backButton" class="button" href="#"></a>
			<h1 id="pageTitle">VR Knowledgebase</h1>
			<% if user_signed_in? %>
				<%= link_to "Log out", destroy_user_session_path, :class => "button", :target => '_self' %>
			<% elsif admin_signed_in? %>
				<%= link_to "Log out", destroy_admin_session_path, :class => "button", :target => '_self' %>
			<% else %>
				<%= link_to "Log in", new_user_session_path, :class => "button", :layout => false %> 
			<% end %>
		</div>
		
		<!-- Do stuff depending on who's logged in -->	
		<%= yield %>

</body>
</html>
